<?xml version="1.0"?>
<settings>
  <servers>
    <server>
      <id>polopoly-product</id>
      <username>polopoly_maven</username>
      <password>{cdbWvNYTorMHKI3/O3/Nu/i1zBs6koXItBWqIDeooSA=}</password>
    </server>
    <server>
      <id>polopoly-public</id>
      <username>polopoly_maven</username>
      <password>{cdbWvNYTorMHKI3/O3/Nu/i1zBs6koXItBWqIDeooSA=}</password>
    </server>
    <server>
      <id>polopoly-pd-plugins</id>
      <username>polopoly_maven</username>
      <password>{cdbWvNYTorMHKI3/O3/Nu/i1zBs6koXItBWqIDeooSA=}</password>
    </server>
    <server>
      <id>polopoly-plugins</id>
      <username>polopoly_maven</username>
      <password>{cdbWvNYTorMHKI3/O3/Nu/i1zBs6koXItBWqIDeooSA=}</password>
    </server>
    <server>
      <id>polopoly-plugins-snapshot</id>
      <username>polopoly_maven</username>
      <password>{cdbWvNYTorMHKI3/O3/Nu/i1zBs6koXItBWqIDeooSA=}</password>
    </server>
    <server>
      <id>polopoly-public-snapshot</id>
      <username>polopoly_maven</username>
      <password>{cdbWvNYTorMHKI3/O3/Nu/i1zBs6koXItBWqIDeooSA=}</password>
    </server>
  </servers>
  <pluginGroups>
    <pluginGroup>com.polopoly.extensions</pluginGroup>
  </pluginGroups>
  <profiles>
    <profile>
      <id>default</id>
      <properties>
        <polopoly.import-scanIntervalSeconds>0</polopoly.import-scanIntervalSeconds>
        <polopoly.jetty-scanIntervalSeconds>0</polopoly.jetty-scanIntervalSeconds>
        <polopoly.work-dir>${user.home}/polopoly-work</polopoly.work-dir>
        <polopoly.work-uri>file://${user.home}/polopoly-work</polopoly.work-uri>
      </properties>
      <pluginRepositories>
        <pluginRepository>
          <id>polopoly-public</id>
          <name>Polopoly Public</name>
          <url>http://maven.polopoly.com/nexus/content/groups/polopoly-public</url>
        </pluginRepository>
        <pluginRepository>
          <id>polopoly-public-snapshot</id>
          <name>Polopoly Public Snapshot</name>
          <url>http://maven.polopoly.com/nexus/content/groups/polopoly-public-snapshot</url>
          <snapshots>
            <enabled>true</enabled>
            <updatePolicy>never</updatePolicy>
            <checksumPolicy>fail</checksumPolicy>
          </snapshots>
	      </pluginRepository>
        <pluginRepository>
          <id>polopoly-plugins-snapshot</id>
          <name>Polopoly Plugins Snapshot</name>
          <url>http://maven.polopoly.com/nexus/content/groups/polopoly-plugins-snapshot</url>
          <snapshots>
            <enabled>true</enabled>
            <updatePolicy>never</updatePolicy>
            <checksumPolicy>fail</checksumPolicy>
          </snapshots>
	      </pluginRepository>
      </pluginRepositories>
      <repositories>
        <repository>
          <id>polopoly-public</id>
          <name>Polopoly Public</name>
          <url>http://maven.polopoly.com/nexus/content/groups/polopoly-public</url>
        </repository>
	      <repository>
          <id>polopoly-public-snapshot</id>
          <name>Polopoly Public Snapshot</name>
          <url>http://maven.polopoly.com/nexus/content/groups/polopoly-public-snapshot</url>
          <snapshots>
            <enabled>true</enabled>
            <updatePolicy>never</updatePolicy>
            <checksumPolicy>fail</checksumPolicy>
          </snapshots>
        </repository>
        <repository>
          <id>polopoly-plugins-snapshot</id>
          <name>Polopoly Plugins Snapshot</name>
          <url>http://maven.polopoly.com/nexus/content/groups/polopoly-plugins-snapshot</url>
          <snapshots>
            <enabled>true</enabled>
            <updatePolicy>never</updatePolicy>
            <checksumPolicy>fail</checksumPolicy>
          </snapshots>
	      </repository>
      </repositories>
    </profile>
    <profile>
      <id>doclint-java8-disable</id>
      <activation>
	      <jdk>[1.8,)</jdk>
      </activation>
      <properties>
	      <additionalparam>-Xdoclint:none</additionalparam>
      </properties>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>default</activeProfile>
  </activeProfiles>
</settings>
