target
.settings
.classpath
.project
.idea
tmp_import_*.jar
*.iml
rebel.xml
*~
.#*
.DS_Store
MANIFEST.MF
work
.java-version
.mvn-version
.ant-targets-build.xml
atlassian-ide-plugin.xml
eclipse-build
artifacts.py
makeeclipseproject.sh
extractclasspaths.py
vagrant/chef/cookbooks
vagrant/chef/tmp
.vagrant
