#if($content.dossier &&  $content.dossier.slotElements.list.size() > 0)
<div class="large-12 column noRight noLeft">
    <div class="topicSlider">
        <h2 class="titleTwo">I DOSSIER</h2>
        <div class="nextRed buttonNextSlider"></div>
        <div class="contBlogger">
            <ul>
              #set($listsize = $content.dossier.slotElements.list.size() - 1 )
              #foreach ($i in [0..$listsize])
                #set($teaser = $content.dossier.slotElements.list.get($i).content)
                #set($articleLink = "#")
                #if($teaser.teaserableContentId)
                  #set($path = $teaser.linkPath)
                  #set($articleLink = "#link({'path': $path, 'htmlEncodeLink': 'true'})")
                #end
                #if($teaser.imageContentId.contentIdString)
                  #set($imgSrc = $tool_img.getUrlBuilder($teaser.imageContentId.contentIdString).format("1x1").height(80).buildUrl())
                #end
                <li><a href="$articleLink" title=""><strong>$teaser.name</strong>#if($imgSrc)<img src="$imgSrc"#end alt=""></a></li>
              #end
            </ul>
        </div>
        <div class="backRed buttonBackSlider"></div>
        <!-- Cancel the floating css rule -->
        <div class="clear"></div>
    </div>
</div>
#end