  ${project.description}

  This plugin is aimed at developers and facilitates development of projects and other plugins.
  It does not provide any functionality to editors or site users by itself.

Installation

  To add the plugin dependencies to your project or plugin, edit its <<<pom.xml>>> and add:

+-----------------------------------------------------------------+
<project>
  ...
  <dependencies>
    ...
    <dependency>
      <groupId>${project.groupId}</groupId>
      <artifactId>${project.artifactId}</artifactId>
      <version>${project.version}</version>
    </dependency>
    <dependency>
      <groupId>${project.groupId}</groupId>
      <artifactId>${project.artifactId}</artifactId>
      <version>${project.version}</version>
      <classifier>contentdata</classifier>
    </dependency>
    ...
  </dependencies>
  ...
</project>
+-----------------------------------------------------------------+

  Running <<<mvn p:run>>> in your project, the plugin should be imported to the system. The plugin
  should show up in the plugins list.

