#if($content.additionalStyle.value && $content.additionalStyle.value == "gallery")
  #parse("/WEB-INF/velocity/it.conquiste.gallerypage.vm")
#else
#set($numberOfItems = $content.numberOfItems)
#if($numberOfItems > 0)
  #set($list = $content.defaultList.subList(0, $numberOfItems))
  #foreach($entry in $list)
    #set($article=$entry.content)
	#set($path = $p_path.resolve($article.contentId, $m.context.page.contentPath))
    #set($link = "#link({'path': $path, 'htmlEncodeLink': 'true'})")
	<!--Article with thumbnail / Image preview-->
<div class="large-12 medium-12 column noLeft">
    <!-- Small Article Two -->
    <div class="largeArticle">
        <h2 class="titleTwo">$!article.overtitle</h2>
        <a href="$link" title=""> <h4 class="titleFour">$article.name</h4></a>
		#if($article.images.list.size()>0)
			<a href="$link" class="thumbnailSmallArticle" ><img src="$tool_img.getUrlBuilder($article.images.list.get(0).contentId.contentIdString).buildUrl()" /></a>
		#end
         <p>$!article.lead</p>
    </div>
    <!-- SHARE ON SOCIALS-->
    <div class="interact">
        <ul>
            <li><a href="#" title="Email"><img src="/img/icon/email.png" alt="Email Icon"/></a></li>
            <li><a href="#" title="Facebook"><img src="/img/icon/fbBit.png" alt="Facebook Icon"/></a></li>
            <li><a href="#" title="Twitter"><img src="/img/icon/twitterBit.png" alt="Twitter Icon"/></a></li>
            <li><a href="#" title="Google Plus"><img src="/img/icon/googlePlusBit.png" alt="Google Plus Icon"/></a></li>
            <li><a href="#" title="Pinterest"><img src="/img/icon/pinterestBit.png" alt="Pinterest Icon"/></a></li>
        </ul>
    </div>
    <!-- Comment Article-->
    <div class="commentArticle">
        <a href="#" title="Commenta"><img src="/img/icon/comment.png" alt="Commenta Icona"/></a>
    </div>
    <!-- Cancel the floating css rule -->
    <div class="clear"></div>
</div>
  #end
#end
#end
<div class="large-12 column noLeft">
    <div class="contActionList">
        <a class="print" href="javascript:window.print()" title="Stampa Pagina"><img src="/img/icon/print.png" alt="Stampa Pagina"> Stampa Pagina</a>
        <a class="upPage" href="#" title="Vai Inizio Pagina"><img src="/img/icon/up.png" alt="Icona Inizio Pagina">Inizio Pagina</a>
    </div>
    <!-- Comment Article-->
    <div class="commentArticle">
        <a href="#" title="Commenta"><img src="/img/icon/comment.png" alt="Commenta Icona"/></a>
    </div>
    <!-- Cancel the floating css rule -->
    <div class="clear"></div>
</div>
